In [1]:
import networkx as nx
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('paulRevere.txt',index_col='Name')

In [3]:
df.head()

,StAndrewsLodge,LoyalNine,NorthCaucus,LongRoomClub,TeaParty,BostonCommittee,LondonEnemies
Name,,,,,,,
Adams.John,0,0,1,1,0,0,0
Adams.Samuel,0,0,1,1,0,1,1
Allen.Dr,0,0,1,0,0,0,0
Appleton.Nathaniel,0,0,1,0,0,1,0
Ash.Gilbert,1,0,0,0,0,0,0

In [4]:
df.shape

(254, 7)

In [5]:
people_x_group=df

In [6]:
df.T

Name,Adams.John,Adams.Samuel,Allen.Dr,Appleton.Nathaniel,Ash.Gilbert,Austin.Benjamin,Austin.Samuel,Avery.John,Baldwin.Cyrus,Ballard.John,...,Whitwell.William,Williams.Jeremiah,Williams.Jonathan,Williams.Thomas,Willis.Nathaniel,Wingfield.William,Winslow.John,Winthrop.John,Wyeth.Joshua,Young.Thomas
StAndrewsLodge,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
LoyalNine,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
NorthCaucus,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
LongRoomClub,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
TeaParty,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,1,0,0,0,1,1
BostonCommittee,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
LondonEnemies,0,1,0,0,0,1,1,1,1,0,...,1,0,1,0,0,0,0,1,0,0

In [7]:
groups_x_people=df.T

In [8]:
people_adj= people_x_group.dot(groups_x_people)

In [9]:
people_adj.shape

(254, 254)

In [10]:
G=nx.from_numpy_matrix(people_adj.values)
G=nx.relabel_nodes(G,dict(enumerate(people_adj.columns)))

In [ ]:
plt.figure(figsize=(100,100))
pos=nx.spring_layout(G,iterations=500,scale=5,k=3)
nx.draw_networkx_labels(G,pos,font_size=8)
font={
     'color':'k',
     'fontweight':'bold',
     'fontsize':14}
plt.title("BOSTON",font)

nx.draw_networkx_nodes(G,pos,node_color='b',alpha=0.4)
nx.draw_networkx_edges(G,pos,alpha=0.4,node_size=0,width=0.5,edge_color='k')
plt.axis('off')
plt.show()