In [22]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import MultinomialNB

In [2]:
df=pd.read_csv('smsspam.txt',sep='\t',names=['Status','Message'])

In [3]:
df.head()

  Status                                            Message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df.loc[df['Status']=='ham',"Status"]=1
df.loc[df['Status']=='spam',"Status"]=0

In [5]:
df.head()

  Status                                            Message
0      1  Go until jurong point, crazy.. Available only ...
1      1                      Ok lar... Joking wif u oni...
2      0  Free entry in 2 a wkly comp to win FA Cup fina...
3      1  U dun say so early hor... U c already then say...
4      1  Nah I don't think he goes to usf, he lives aro...

In [6]:
df_x=df["Message"]
df_y=df["Status"]

In [7]:
cv= TfidfVectorizer(max_df=1,stop_words='english')

In [8]:
X_train,X_test,y_train,y_test= train_test_split(df_x,df_y,test_size=0.2,random_state=42)

In [9]:
x_traincv=cv.fit_transform(X_train)

In [12]:
mnb=MultinomialNB()

In [13]:
y_train=y_train.astype('int')

In [14]:
mnb.fit(x_traincv,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [15]:
x_testcv=cv.transform(X_test)

In [16]:
pred= mnb.predict(x_testcv)

In [28]:
pred=pred.astype('int')

In [29]:
actual=np.array(y_test)

In [31]:
count=0

In [33]:
for i in range(len(pred)):
    if pred[i]==actual[i]:
        count=count+1

In [34]:
count

966

In [35]:
count/len(pred)

0.8663677130044843